<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet" />
    <link href="/styles/index.css" rel="stylesheet" />
    <title>❀ » sakura</title>
    <script>
      var dclhandler = false;
      if (document.readyState !== "loading") {
        start();
      } else {
        dclhandler = true;
        document.addEventListener("DOMContentLoaded", start);
      }

      async function start() {
        if (dclhandler) {
          document.removeEventListener("DOMContentLoaded", start);
        }

        const games = await (await fetch(`/apps`)).json();

        document
          .getElementById("searchbar")
          .addEventListener("keydown", (event) => {
            if (event.keyCode === 13) {
              if (
                games.find(
                  (game) =>
                    game.name.trim().toLowerCase() ===
                      event.target.value.trim().toLowerCase() ||
                    (parseInt(event.target.value) &&
                      game.appid.toString() === event.target.value.toString())
                )
              ) {
                const game = games.find(
                  (game) =>
                    game.name.trim().toLowerCase() ===
                      event.target.value.trim().toLowerCase() ||
                    (parseInt(event.target.value) &&
                      game.appid.toString() === event.target.value.toString())
                );

                window.location.href = `/dl/${game.appid}`;
              }
            }
          });
      }
    </script>
  </head>
  <body>
    <div class="navbar-wrapper">
      <nav class="navbar">
        <div class="navbar-routes">
          <a href="/" class="navbar-link">Home</a>
          <a href="https://github.com/vftable/sakura" class="navbar-link"
            >GitHub</a
          >
          <input
            type="text"
            placeholder="Search..."
            class="navbar-searchbar"
            id="searchbar"
          />
        </div>
      </nav>
    </div>
    <div class="split-screen-wrapper">
      <div class="left-column">
        <div class="hero-container">
          <div class="hero">
            <div class="hero-text">
              <h1 class="hero-text-header">❀ » sakura</h1>
              <p class="hero-text-description">
                a simple CDN for cracked Steam games.
              </p>
            </div>
            <!--
            <div class="button-wrapper">
              <div class="button-wrapper">
                <a class="button primary" href="/dl/1229490"
                  >Get Started <i class="fas fa-arrow-right"></i
                ></a>
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>
        © 2023 <b>sakura.nekos.host</b> - All Rights Reserved. Made by
        <b>@vftable</b> and <b>@KannaDev</b>. Not affiliated with Steam.
      </p>
    </footer>
  </body>
</html>
